<div id="<%= dom_id post %>" class="p-4 mb-2 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold"><%= post.title %></h1>
    <p class="col-md-8 fs-4"><%= post.content %></p>
    <%= link_to 'Details of this post', post, class: 'btn btn-primary btn-small' %>
  </div>
</div>
